/* line 1, staticfiles/sass/custom/style.scss */
.header-main {
  background-color: #1c1717f7 !important; }

/* line 5, staticfiles/sass/custom/style.scss */
.widget-header {
  vertical-align: text-top !important; }
  /* line 8, staticfiles/sass/custom/style.scss */
  .widget-header .icon:hover {
    color: #eb640b !important; }
    /* line 11, staticfiles/sass/custom/style.scss */
    .widget-header .icon:hover.border:hover {
      border: 2px solid #eb640b !important; }
  /* line 16, staticfiles/sass/custom/style.scss */
  .widget-header .icon-sm:hover {
    color: #eb640b !important; }
    /* line 19, staticfiles/sass/custom/style.scss */
    .widget-header .icon-sm:hover.border:hover {
      border: 2px solid #eb640b !important; }
  /* line 24, staticfiles/sass/custom/style.scss */
  .widget-header .icontext .text {
    width: 100%;
    color: #eb640b !important;
    font-weight: bolder; }

/* line 32, staticfiles/sass/custom/style.scss */
.brand-wrap .logo, .navbar-brand .logo {
  max-height: 70px !important; }

/* line 37, staticfiles/sass/custom/style.scss */
#myAccount:hover > .icon-sm {
  color: #eb640b !important; }
  /* line 40, staticfiles/sass/custom/style.scss */
  #myAccount:hover > .icon-sm.border {
    border: 2px solid #eb640b !important; }
